table {
    width: 100%;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}

th {text-align: left;}

.dri{
  float: left;
  width: 50%;
}
.dri2{
  clear: both;
  float: left;
  width: 50%;
}
#store{
  clear: both;
}
.hello{
  width: 50%;
  float: left;
}
#hue{
  clear: both;
}
#data{
  clear: both;
}